doctype html
html(lang="en")
  head
    meta(name="theme-color" content="#ececec")
    link(rel="icon" sizes="512x512" href="/icon.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title.
      Hacker News PWA
    style.
      * {
        padding: 0;
        margin: 0;
        font-family: Roboto, Noto, sans-serif;
      }

      code {
        font-family: monospace;
        white-space: pre-wrap;
      }
      d {
        display: block;
      }

      .hidden {
        display: none;
      }

      [hidden] {
        display: none;
      }
  body

    div(class="hidden" id="reload-prompt" onclick="window.location.reload(true)")
      Click For The Latest Version!
    header
      ul
        li(class="app-title")
          a(class="p", data-scope="topstories", href="/top").
            HN PWA
        li(class="secondary")
          a(class="p", data-scope="newstories", href="/new").
            new |
        li(class="secondary")
          a(class="p", data-scope="showstories", href="/show").
            show |
        li(class="secondary")
          a(class="p", data-scope="askstories", href="/ask").
            ask |
        li(class="secondary")
          a(class="p", data-scope="jobstories", href="/jobs").
            jobs
    div(id="a")
    script(async src="/cc.js")
    script.
       if ('serviceWorker' in navigator) {
         navigator.serviceWorker.register('/sw.js').then(function() {
           console.log('service worker is is all cool 🐳.');
         }).catch(function(e) {
           console.error('service worker is not so cool.', e);
           throw e;
         });

         if (navigator.serviceWorker.controller) {
          // Correctly prompt the user to reload during SW phase change.
          navigator.serviceWorker.controller.onstatechange = function(e) {
            if (e.target.state === 'redundant') {
              document.querySelector('#reload-prompt').classList.remove('hidden');
            }
          };
        }
       }

